@{
    ViewBag.Title = "About";
}
<h3 id="aboutHeader">@ViewBag.Message</h3>

<p>Henrik Jorgensen is a recent graduate of the University of Wisconsin-River Falls. 
    He graduated in December of 2016 with a Bachelors of Fine Arts, 
    emphasizing in glassblowing and printmaking. 
    Since graduating, Henrik he has gone on to become an artist assistant to Keith Clayton 
    at his home and studio in scenic Door County, Wisconsin. 
    As well as assisting Keith with his work, Henrik has started a screen-printing business as a means of 
    his own expression and as a tool to help others with their needs. Join Henrik on this journey of 
    community and great products by joining the EyeConic Imagery LLC movement.</p>
