@{
    ViewBag.Title = "Welcome to EyeConic Imagery";
}

<h1 class="pageHeaders">@ViewBag.Title</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <h2>What is screen-printing?</h2>
        <p>
            Screen-printing is a printing process that involves the use of a
            screen to pass ink through onto your desired material-whether it
            be textile or paper.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How do I start?</h2>
        <p>You can design/create artwork that we are able to break down and
              print-up to four colors-or we will work with you to bring those
              desired designs to life.</p>
    </div>
    <div class="col-md-4">
        <h2>What will it cost?</h2>
        <p>There are a lot of things to consider in the price breakdown.
              We will determine how many colors you desire, number of prints
              total, and then the material you want your designs printed on.
              Submit an order form, call or email for estimates!</p>
    </div>
</div>

<br />

<div class="jumbotron">
    <h1>Bottom Line</h1>
    <br />
    <p class="lead">-Up to 4-color process prints</p>
    <p class="lead">-Minimum order is 10 prints-but prices do go down when ordering
            more prints.</p>
    <p class="lead">-50% down up front</p>
    <p class="lead">-Printed with water based archival textile inks-unless otherwise
            requested.</p>
    <p class="lead">-We can recommend shirts or paper-if you don’t already have one in
            mind!</p>
</div>